<div class="d-flex flex-md-column flex-shrink-0 p-3 bg-dark w-100 h-100">
  <a routerLink=""
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none mx-auto text-white fw-bold">
    <img class="bi img-responsive me-1" width="40" height="40" src="../../../assets/images/koch_logo.png">
    <span class="fs-4">KOCH</span>
  </a>
  <hr>
  <ul class="nav d-flex d-md-block mb-auto overflow-auto">
    <li>
      <a routerLink="" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Dashboard')" ariaCurrentWhenActive="page">
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="tasks" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Tasks')" ariaCurrentWhenActive="page">
        Tasks
      </a>
    </li>
    <li>
      <a routerLink="evaluation" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Evaluation')" ariaCurrentWhenActive="page">
        Evaluation
      </a>
    </li>
    <li>
      <a routerLink="departments" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Departments')" ariaCurrentWhenActive="page">
        Departments
      </a>
    </li>
    <li>
      <a routerLink="designations" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Designations')">
        Designations
      </a>
    </li>
    <li>
      <a routerLink="employees" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Employees')">
        Employees
      </a>
    </li>
    <li>
      <a routerLink="evaluator" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('Evaluators')">
        Evaluator
      </a>
    </li>
    <li>
      <a routerLink="users" class="nav-link text-secondary" routerLinkActive="text-white"
        (isActiveChange)="setHeading('User')">
        User
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown" [class]="isloggedIn? '':'d-none'">
    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle me-1">
      {{ profile?.first_name + " " + profile?.last_name }}
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" routerLink="#">Settings</a></li>
      <li><a class="dropdown-item" [routerLink]="['/profile', LoggedInUserRole, profile?.id]">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li [class]="isloggedIn? '': 'd-none'"><a class="dropdown-item" (click)="logout()">Signout</a></li>
      <li [class]="isloggedIn? 'd-none': ''"><a class="dropdown-item" routerLink="signin">Signin</a></li>
    </ul>
  </div>
  <div class="dropdown"  [class]="isloggedIn? 'd-none': ''">
    <a routerLink="signin" class="d-block link-light text-decoration-none">
      Signin
    </a>
  </div>
</div>