<div class="p-2 row d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ departments }}</h3>
        <p class="card-text">Total Departments</p>
      </div>
      <div
        class="col-4 d-flex justify-content-center align-items-center text-secondary d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-menu-button-wide h1"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ designations }}</h3>
        <p class="card-text">Total Designation</p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-person-lines-fill h1"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ users }}</h3>
        <p class="card-text">Total User</p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-people-fill h1"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ employees }}</h3>
        <p class="card-text">Total Employees</p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-person-circle h1"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ evaluators }}</h3>
        <p class="card-text">Total Evaluators</p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-person-check-fill h1"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 p-2">
    <div class="box m-2 p-3 shadow-lg rounded row">
      <div class="col-8">
        <h3 class="card-title">{{ tasklist }}</h3>
        <p class="card-text">Total Tasks</p>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center text-secondary">
        <i class="bi bi-list-task h1"></i>
      </div>
    </div>
  </div>
</div>